/vendor/
/composer.lock
/.phpunit.cache/
/.idea/.gitignore
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/phpunit.xml
/.idea/symfony-taler.iml
/.idea/vcs.xml
/.phpunit.result.cache
